bin/
obj/
.vs/
.vscode/
.idea/
TestResults/
*.user
*.suo
*.rsuser
*.log

node_modules/
dist/
.angular/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

*.db
*.sqlite
*.sqlite3

src/IDo.Web/wwwroot/browser/
src/IDo.Web/wwwroot/*.js
src/IDo.Web/wwwroot/*.css
src/IDo.Web/wwwroot/3rdpartylicenses.txt
src/IDo.Web/wwwroot/prerendered-routes.json
